@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
  font-family: "Inter", sans-serif;
}

a {
  @apply text-brand-400 hover:text-brand-300 transition-colors;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
